transformers>=4.51.0
sentence-transformers>=2.7.0
torch
accelerate
jupyter
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm
langchain
faiss-cpu
datasets
openai
sentencepiece
bitsandbytes
peft
trl
xformers
